html,
body {
    // font-size: 16px;
    margin: 0;
}

ul,
ol,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
figure,
p {
    margin: 0;
}

img {
    vertical-align: middle;
}

span,
b,
i,
em,
a,
strong,
mark {
    display: inline-block;
}

table {
    border-collapse: collapse;
}

a,
a:link,
a:visited {
    color: inherit;
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", "Noto Sans KR", sans-serif;
}

header {
    position: fixed;
    color: white;
    top: 0;
    z-index: 1;
    width: 100%;
    padding: 1rem;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 100%;

        h1 {
            button {
                font-size: 2rem;
                font-weight: bold;
            }
        }

        nav {
            ul {
                display: flex;

                li {
                    padding: 0 2.5vw;

                    button {
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }

    button {
        background: transparent;
        border: 0;
        cursor: pointer;
        color: white;
    }
}

header.active {
    background-color: rgba(0, 0, 0);
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}