@import url(./common.css);

.visual{
    width: 100%;
    figure{
        position: relative;
        img{
            width: 100%;
        }
        }
    .p{
        position: absolute; top: 0; left: 0;
        img{
            width: 100%;
        }
    }

    .background_gary{
        background-color: #E6E6E6;
        width: 100%; 
        .center{
            width: 68.75%;
            margin: 0 auto;
        }     
    }
    span{
        padding: 1%;
        a{
            font-size: 16px;
            color: #373737;
            font-weight: 500;
        }
    }
}
.section_01{
    padding: 50px 0 50px 0;   
    width: 100%;
    .text{
        width: 68.75%;
        margin: 0 auto;
        text-align: center;
        h2{
            font-size: 22px;
            font-weight: 900;
            color: #343434;
        }
        figure{
            padding: 20px 0 20px 0;
        }
        p{
            font-size: 19px;
            color: #ADAEB0;
            font-weight: 400;
        }
    }
}
.contact_01{
    width: 68.75%;
    margin: 0 auto;
    text-align: center;
    h3{
        font-size: 1.5rm;
        color: #FDB51A;
    }
    p{
        margin-top: 1rem;
        color: #797979;
        font-size: 1.25rem;
        line-height: 1.8;
    }
}
.contact_02{
    content: "";
            display: block;
            clear: both;
    width: 68.75%;
    margin: 0 auto;
    margin-top: 4rem;
    .contact{
        text-align: center;
        h2{
            color: black;
        }
        .contact-me{
            
            .left{
                width: 30%;
                float: left;
                .card{
                    border: 1px solid #ccc;
                    padding: 1rem;
                    align-items: center;
                    margin-bottom: 1.25rem;
                    i{
                        font-size: 2rem;
                        margin-right: 5px;
                    }
                }
            }
            .right{
                width: 65%;
                float: left;
                margin-left: 5%;
                margin-bottom: 2rem;
                border: 1px solid #ccc;
                padding: 1rem;
                .form-group{
                    margin-bottom: 1.25rem;
                }
                label{
                    display:block;
                    margin-bottom:0.85rem;
                }
                input{
                    padding:0.625rem;
                    width:100%;
                    outline:none;
                    border:1px solid #ccc;
                    border-radius:10px;
                }
                .form-group{
                    textarea{
                        height:300px;
                        width:100%;
                        resize:none;
                        border:1px solid #ccc;
                        border-radius:10px;
                    }
                }
                button{
                    width: 100%;
                    padding: 1rem;
                    background-color: #FDB51A;
                    border: none;
                    color: white;
                }
            }
        }
    }
    input:focus{
        border:1px solid #719ECE;
        box-shadow:0 0 10px #719ECE;
    }
    textarea:focus{
        outline:none;
        border:1px solid #719ECE;
        box-shadow:0 0 10px #719ECE;
    }
}
