@import url(./common.css);
.visual {
  width: 100%;
}
.visual figure {
  position: relative;
}
.visual figure img {
  width: 100%;
}
.visual .p {
  position: absolute;
  top: 0;
  left: 0;
}
.visual .p img {
  width: 100%;
}
.visual .background_gary {
  background-color: #E6E6E6;
  width: 100%;
}
.visual .background_gary .center {
  width: 68.75%;
  margin: 0 auto;
}
.visual span {
  padding: 1%;
}
.visual span a {
  font-size: 16px;
  color: #373737;
  font-weight: 500;
}

.section_01 {
  padding: 120px 0 120px 0;
  width: 100%;
}
.section_01 .text {
  padding-bottom: 50px;
  width: 68.75%;
  margin: 0 auto;
  text-align: center;
}
.section_01 .text h2 {
  font-size: 22px;
  font-weight: 900;
  color: #343434;
}
.section_01 .text figure {
  padding: 20px 0 20px 0;
}
.section_01 .text p {
  font-size: 19px;
  color: #ADAEB0;
  font-weight: 400;
}
.section_01 .contents_01 {
  width: 68.75%;
  margin: 0 auto;
  position: relative;
}
.section_01 .contents_01 .background {
  width: 100%;
}
.section_01 .contents_01 .background img {
  width: 100%;
}
.section_01 .contents_01 .cover1 {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.section_01 .contents_01 .cover1 img {
  width: 100%;
}
.section_01 .contents_01 .text_01 {
  width: 1040px;
  position: absolute;
  top: 8%;
  left: 10%;
  border: 2px solid rgba(255, 255, 255, 0.5);
  padding: 8% 2% 8% 2%;
  background-color: rgba(127, 127, 127, 0.6);
}
.section_01 .contents_01 .text_01 .p1 {
  font-size: 19px;
  color: rgba(250, 250, 250, 0.8);
  text-align: center;
  font-weight: 400;
  line-height: 1.8;
  word-break: keep-all;
}
.section_01 .contents_01 .text_01 .p2 {
  font-size: 19px;
  color: rgba(250, 250, 250, 0.8);
  text-align: center;
  font-weight: 400;
  padding-top: 5%;
  line-height: 1.8;
  word-break: keep-all;
}

.section_02 {
  padding: 120px 0 120px 0;
  width: 100%;
}
.section_02 .text {
  padding-bottom: 50px;
  width: 68.75%;
  margin: 0 auto;
  text-align: center;
}
.section_02 .text h2 {
  font-size: 22px;
  font-weight: 900;
  color: #343434;
}
.section_02 .text figure {
  padding: 20px 0 20px 0;
}
.section_02 .text p {
  font-size: 19px;
  color: #ADAEB0;
  font-weight: 400;
}
.section_02 .contents_02 {
  display: flex;
  width: 68.75%;
  margin: 0 auto;
  justify-content: space-between;
}
.section_02 .contents_02 .iframe_left {
  width: 41%;
}
.section_02 .contents_02 .sns_contents {
  width: 22.75%;
  padding-top: 6%;
  margin-right: 23%;
}
.section_02 .contents_02 .sns_contents ul {
  width: 400px;
}
.section_02 .contents_02 .sns_contents ul li {
  padding-bottom: 10%;
  font-size: 24px;
  font-weight: 400;
  color: #373737;
}
.section_02 .contents_02 .sns_contents ul li figure a {
  color: #373737 !important;
}
.section_02 .contents_02 .sns_contents ul li figure img {
  padding-right: 5%;
}
.section_02 .text_02 {
  width: 68.75%;
  margin: 0 auto;
  text-align: center;
  padding-top: 3%;
  font-size: 20px;
  font-weight: 400;
  color: #373737;
}

article .scroll {
  opacity: 0;
  transition: 0.5s;
  transform: translateY(50%);
}

article .scroll.active {
  opacity: 1;
  transform: translateY(0%);
}

@media (min-width: 768px) and (max-width: 1024px) {
  .visual {
    width: 100%;
  }
  .visual figure {
    position: relative;
  }
  .visual figure img {
    width: 100%;
  }
  .visual .p {
    position: absolute;
    top: 0;
    left: 0;
  }
  .visual .p img {
    width: 100%;
  }
  .visual .background_gary {
    background-color: #E6E6E6;
    width: 100%;
  }
  .visual .background_gary .center {
    width: 68.75%;
    margin: 0 auto;
  }
  .visual span {
    padding: 1%;
  }
  .visual span a {
    font-size: 16px;
    color: #373737;
    font-weight: 500;
  }
  .section_01 {
    padding: 120px 0 120px 0;
    width: 100%;
  }
  .section_01 .text {
    padding-bottom: 50px;
    width: auto;
    margin: 0 auto;
    text-align: center;
  }
  .section_01 .text h2 {
    font-size: 22px;
    font-weight: 900;
    color: #343434;
  }
  .section_01 .text figure {
    padding: 20px 0 20px 0;
  }
  .section_01 .text p {
    font-size: 19px;
    color: #ADAEB0;
    font-weight: 400;
  }
  .section_01 .contents_01 {
    width: auto;
    margin: 0 auto;
    position: relative;
  }
  .section_01 .contents_01 .background {
    width: 100%;
  }
  .section_01 .contents_01 .background img {
    width: 100%;
  }
  .section_01 .contents_01 .cover1 {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .section_01 .contents_01 .cover1 img {
    width: 100%;
  }
  .section_01 .contents_01 .text_01 {
    width: 80%;
    position: absolute;
    top: 5%;
    left: 10%;
    border: 2px solid rgba(255, 255, 255, 0.5);
    padding: 1% 2% 1% 2%;
    background-color: rgba(127, 127, 127, 0.6);
  }
  .section_01 .contents_01 .text_01 .p1 {
    font-size: 19px;
    color: rgba(250, 250, 250, 0.8);
    text-align: center;
    font-weight: 400;
    line-height: 1.8;
    word-break: keep-all;
  }
  .section_01 .contents_01 .text_01 .p2 {
    font-size: 19px;
    color: rgba(250, 250, 250, 0.8);
    text-align: center;
    font-weight: 400;
    padding-top: 5%;
    line-height: 1.8;
    word-break: keep-all;
  }
  .section_02 {
    padding: 120px 0 120px 0;
    width: 100%;
  }
  .section_02 .text {
    padding-bottom: 50px;
    width: auto;
    margin: 0 auto;
    text-align: center;
  }
  .section_02 .text h2 {
    font-size: 22px;
    font-weight: 900;
    color: #343434;
  }
  .section_02 .text figure {
    padding: 20px 0 20px 0;
  }
  .section_02 .text p {
    font-size: 19px;
    color: #ADAEB0;
    font-weight: 400;
  }
  .section_02 .contents_02 {
    display: block;
    width: auto;
    margin: 0 auto;
    justify-content: space-between;
  }
  .section_02 .contents_02 .iframe_left {
    width: 100%;
    text-align: center;
  }
  .section_02 .contents_02 .sns_contents {
    width: auto;
    padding-top: 0;
    margin-right: 0;
  }
  .section_02 .contents_02 .sns_contents ul {
    width: auto;
    text-align: center;
  }
  .section_02 .contents_02 .sns_contents ul li {
    padding-top: 2%;
    padding-bottom: 4%;
    font-size: 24px;
    font-weight: 400;
    color: #373737;
  }
  .section_02 .contents_02 .sns_contents ul li figure a {
    color: #373737 !important;
  }
  .section_02 .contents_02 .sns_contents ul li figure img {
    padding-right: 5%;
  }
  .section_02 .text_02 {
    width: auto;
    margin: 0 auto;
    text-align: center;
    padding-top: 3%;
    font-size: 20px;
    font-weight: 400;
    color: #373737;
  }
  article .scroll {
    opacity: 0;
    transition: 0.5s;
    transform: translateY(50%);
  }
  article .scroll.active {
    opacity: 1;
    transform: translateY(0%);
  }
}/*# sourceMappingURL=contact.css.map */