@import url(./common.css);

.visual{
    width: 100%;
    figure{
        position: relative;
        img{
            width: 100%;
        }
        }
    .p{
        position: absolute; top: 0; left: 0;
        img{
            width: 100%;
        }
    }

    .background_gary{
        background-color: #E6E6E6;
        width: 100%; 
        .center{
            width: 68.75%;
            margin: 0 auto;
        }     
    }
    span{
        padding: 1%;
        a{
            font-size: 16px;
            color: #373737;
            font-weight: 500;
        }
    }
}
.section_01{
    padding: 120px 0 120px 0;
    width: 100%;
    .text{
        padding-bottom: 50px;
        width: 68.75%;
        margin: 0 auto;
        text-align: center;
        h2{
            font-size: 22px;
            font-weight: 900;
            color: #343434;
        }
        figure{
            padding: 20px 0 20px 0;
        }
        p{
            font-size: 19px;
            color: #ADAEB0;
            font-weight: 400;
        }
    }
    .contents_01{
        width: 100%;    height: 800px;
        position: relative;
        background-color: #F7F8FA;
        .life{
        width: 68.75%;
        margin: 0 auto;
        position: absolute; top: 100px; left: 280px;
            ul{
                width: 100%;
                display: flex;
                flex-wrap: wrap
            }
            li{
                width: 30%;
                margin: 0 auto;
                padding-bottom: 50px;
                figure{
                    width: 100%;
                    img{
                        width: 100%;
                    }
                }
                p{
                font-size: 20px;
                color: #373737;
                font-weight: 400;
                padding-top: 50px;
                }
            }
        }
    }
}
.section_02{
    padding: 120px 0 120px 0;
    width: 100%;
    .text{
        padding-bottom: 50px;
        width: 68.75%;
        margin: 0 auto;
        text-align: center;
        h2{
            font-size: 22px;
            font-weight: 900;
            color: #343434;
        }
        figure{
            padding: 20px 0 20px 0;
        }
        p{
            font-size: 19px;
            color: #ADAEB0;
            font-weight: 400;
        }
    }
    .contents_02{
        width: 100%;
        position: relative;
        .text_02{
            width: 68.75%;
            margin: 0 auto;
            text-align: center;
            padding-bottom: 50px;
            p{
                width: 850px;
                margin: 0 auto;
                font-size: 19px;
                color: #373737;
                font-weight: 400;
            }
        }
        .pictrue{
            width: 100%;
            figure{
                width: 68.75%;
                margin: 0 auto;
                text-align: center;
                padding-top: 50px;
            }
        }
        .center{
            // position:absolute; top: 180px; left: 525px;
            width: 730px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            .right_p{
                .p1{
                    padding-bottom: 30px;
                }
            }
        }   
    }
}

article .scroll{
    opacity: 0;
    transition: 0.5s;
    transform: translateY(20%);
}
article .scroll.active{
    opacity: 1;
    transform: translateY(0%);
}
@media(min-width:768px) and (max-width:1024px){
    .visual{
        width: 100%;
        figure{
            position: relative;
            img{
                width: 100%;
            }
            }
        .p{
            position: absolute; top: 0; left: 0;
            img{
                width: 100%;
            }
        }
    
        .background_gary{
            background-color: #E6E6E6;
            width: 100%; 
            .center{
                width: 68.75%;
                margin: 0 auto;
            }     
        }
        span{
            padding: 1%;
            a{
                font-size: 16px;
                color: #373737;
                font-weight: 500;
            }
        }
    }
    .section_01{
        padding: 120px 0 120px 0;
        width: 100%;
        .text{
            padding-bottom: 50px;
            width: 100%;
            margin: 0 auto;
            text-align: center;
            h2{
                font-size: 22px;
                font-weight: 900;
                color: #343434;
            }
            figure{
                padding: 20px 0 20px 0;
            }
            p{
                font-size: 19px;
                color: #ADAEB0;
                font-weight: 400;
            }
        }
        .contents_01{
            width: 100%;
            height: auto;
            // position: relative;
            background-color: #F7F8FA;
            .life{
            // width: 68.75%;
            width: 100%;
            margin: 0 auto;
            // position: absolute; top: 100px; left: 280px;
            position: relative;
            top: 0; left: 0;
                ul{
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap
                }
                li{
                    width: 45%;
                    margin: 0 auto;
                    padding-bottom: 50px;
                    figure{
                        width: 100%;
                        img{
                            width: 100%;
                        }
                    }
                    p{
                    font-size: 20px;
                    color: #373737;
                    font-weight: 400;
                    padding-top: 50px;
                    word-break: keep-all;
                    text-align: center;
                    }
                }
            }
        }
    }
    .section_02{
        padding: 50px 0 120px 0;
        width: 100%;
        .text{
            padding-bottom: 50px;
            // width: 68.75%;
            width: auto;
            margin: 0 auto;
            text-align: center;
            h2{
                font-size: 22px;
                font-weight: 900;
                color: #343434;
            }
            figure{
                padding: 20px 0 20px 0;
            }
            p{
                font-size: 19px;
                color: #ADAEB0;
                font-weight: 400;
            }
        }
        .contents_02{
            width: 100%;
            position: relative;
            .text_02{
                width: 68.75%;
                margin: 0 auto;
                text-align: center;
                padding-bottom: 50px;
                p{
                    // width: 850px;
                    width: auto;
                    margin: 0 auto;
                    font-size: 19px;
                    color: #373737;
                    font-weight: 400;
                }
            }
            .pictrue{
                width: 100%;
                figure{
                    width: 68.75%;
                    margin: 0 auto;
                    text-align: center;
                    padding-top: 50px;
                }
            }
            .center{
                // position:absolute; top: 180px; left: 525px;
                width: 730px;
                margin: 0 auto;
                display: flex;
                justify-content: space-between;
                .right_p{
                    .p1{
                        padding-bottom: 30px;
                    }
                }
            }   
        }
    }
    
    article .scroll{
        opacity: 0;
        transition: 0.5s;
        transform: translateY(20%);
    }
    article .scroll.active{
        opacity: 1;
        transform: translateY(0%);
    }

}