@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
html,
body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  overflow: hidden auto;
  word-break: keep-all;
}

ul,
li,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  border: none;
  vertical-align: top;
}

a,
a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}

* {
  -webkit-text-size-adjust: none;
  box-sizing: border-box;
  font-size: 1rem;
  font-family: "Roboto", "Noto Sans KR", sans-serif;
}

section:nth-child(2n) {
  background-color: #f8f8f8;
}

::-moz-selection {
  background-color: #f89820;
  color: #fff;
}

::selection {
  background-color: #f89820;
  color: #fff;
}

html,
body {
  overflow: scroll;
  -ms-overflow-style: none;
}
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}

.warp .navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  z-index: 9;
}
.warp .navbar.active {
  background-color: rgba(0, 0, 0, 0.4);
  transition-duration: 0.5s;
  transition-timing-function: ease;
  -webkit-transition-duration: 0.4s;
  -webkit-transition-timing-function: ease;
}
.warp .navbar.deactive {
  background-color: transparent;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  -webkit-transition-duration: 0.4s;
  -webkit-transition-timing-function: ease;
}
.warp .navbar .narbar_loggo {
  color: #fff;
  cursor: pointer;
}
.warp .navbar .narbar_loggo i {
  font-size: 1.65rem;
  color: #D0D0D0;
}
.warp .navbar .narbar_loggo i:hover {
  color: #f89820;
}
.warp .navbar .navbar_menu {
  align-items: center;
  display: flex;
}
.warp .navbar .navbar_menu li {
  padding: 0 1rem;
  font-size: 1.25rem;
  font-weight: 900;
}
.warp .navbar .navbar_menu li button {
  background: transparent;
  border: 0;
  cursor: pointer;
  color: #D0D0D0;
  font-size: 1.2rem;
  font-weight: 500;
}
.warp .navbar .navbar_menu li button:hover {
  color: #f89820;
  font-size: 1.3rem;
  font-weight: 700;
}
.warp .navbar .navbar_menu li button.active {
  color: #f89820;
}
.warp .navbar .drawer_menu {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  color: #fff;
  width: 100%;
}
.warp .navbar .drawer_menu a i {
  font-size: 1.65rem;
}
.warp main {
  width: 100%;
  height: 100vh;
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../resource/me.jpg") center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.warp main h4 {
  font-size: 4rem;
  font-weight: 300;
}
.warp main h2 {
  font-size: 3.5rem;
  margin: 1.5rem 0;
  letter-spacing: 3px;
  font-weight: 500;
}
.warp main h2 span {
  font-size: 3.75rem;
  font-weight: 900;
}
.warp main p {
  max-width: 600px;
  margin: 0 auto;
  font-size: 1.35rem;
}
.warp main .btn {
  display: flex;
  justify-content: center;
}
.warp main .btn .btn_ {
  background-color: transparent;
  border: 3px solid white;
  border-radius: 20px;
  padding: 1rem;
  margin-top: 2.5rem;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.warp main .btn_:nth-child(1) {
  margin-right: 2rem;
}
.warp main .btn_:hover {
  background-color: white;
  color: black;
}
.warp .about {
  width: 100%;
  height: 100vh;
  padding-top: 5rem;
}
.warp .about .container {
  width: 80vw;
  margin: 0 auto;
}
.warp .about .container .title {
  margin-bottom: 3rem;
}
.warp .about .container .title h4 {
  font-size: 3.25rem;
  color: #969696;
  font-weight: 500;
  position: relative;
}
.warp .about .container .about-self {
  display: flex;
  justify-content: space-between;
}
.warp .about .container .about-self .left {
  width: 30%;
  align-items: center;
  text-align: center;
}
.warp .about .container .about-self .left img {
  max-width: 100%;
}
.warp .about .container .about-self .left .txt {
  margin-top: 10px;
}
.warp .about .container .about-self .left .txt h3 {
  font-weight: 700;
  color: #000;
  font-size: 1.17rem;
}
.warp .about .container .about-self .left .txt h3 span {
  color: #fff;
  font-weight: 500;
  font-size: 2rem;
  background: linear-gradient(to top, #f89820 100%, transparent 60%);
}
.warp .about .container .about-self .left .txt h4 {
  font-weight: 500;
  color: #000;
  margin: 0.5rem 0;
}
.warp .about .container .about-self .left .txt span {
  background: linear-gradient(to top, rgba(252, 170, 69, 0.6117647059) 50%, transparent 60%);
}
.warp .about .container .about-self .right {
  margin: 0 auto;
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.warp .about .container .about-self .right .aboutme {
  width: 40%;
  margin-left: 5%;
}
.warp .about .container .about-self .right .aboutme h3 {
  color: #ff8c00;
  font-weight: 500;
  border-bottom: 1px solid #f89820;
  padding-bottom: 3%;
}
.warp .about .container .about-self .right .aboutme h3 i {
  font-size: 1.25rem;
}
.warp .about .container .about-self .right .aboutme p {
  padding-top: 1rem;
  font-size: 1rem;
  line-height: 30px;
}
.warp .about .container .about-self .right .Education {
  width: 40%;
  margin-left: 5%;
}
.warp .about .container .about-self .right .Education h3 {
  color: #ff8c00;
  font-weight: 500;
  border-bottom: 1px solid #f89820;
  padding-bottom: 3%;
}
.warp .about .container .about-self .right .Education h3 i {
  font-size: 1.25rem;
}
.warp .about .container .about-self .right .Education .edbox {
  padding-top: 1rem;
}
.warp .about .container .about-self .right .Education .edbox p {
  font: 0.5rem;
}
.warp .about .container .about-self .right .Education .edbox span {
  color: #969696;
  font: 0.8rem;
  line-height: 2;
}
.warp .about .container .about-self .right .working {
  width: 40%;
  margin-left: 5%;
  padding-top: 5%;
}
.warp .about .container .about-self .right .working h3 {
  color: #ff8c00;
  font-weight: 500;
  border-bottom: 1px solid #f89820;
  padding-bottom: 3%;
}
.warp .about .container .about-self .right .working h3 i {
  font-size: 1.25rem;
}
.warp .about .container .about-self .right .working p {
  color: rgba(0, 0, 0, 0.8823529412);
  padding-top: 1rem;
  font-size: 1rem;
  line-height: 30px;
}
.warp .about .container .about-self .right .working p span {
  color: #000;
  font-weight: 500;
  font-size: 1.05rem;
}
.warp .about .container .about-self .right .skill {
  width: 40%;
  margin-left: 5%;
  padding-top: 5%;
}
.warp .about .container .about-self .right .skill h3 {
  color: #ff8c00;
  font-weight: 500;
  border-bottom: 1px solid #f89820;
  padding-bottom: 3%;
}
.warp .about .container .about-self .right .skill h3 i {
  font-size: 1.25rem;
}
.warp .about .container .about-self .right .skill .skillbar {
  padding-top: 1rem;
}
.warp .about .container .about-self .right .skill .skillbar:nth-of-type(1) {
  display: flex;
}
.warp .about .container .about-self .right .skill .skillbar:nth-of-type(1) p:nth-of-type(1) {
  width: 25%;
}
.warp .about .container .about-self .right .skill .skillbar:nth-of-type(1) p:nth-of-type(2) {
  width: 55%;
  background-color: rgba(250, 164, 60, 0.8705882353);
}
.warp .about .container .about-self .right .skill .skillbar:nth-of-type(1) p:nth-of-type(3) {
  margin-left: 5%;
  width: 20%;
}
.warp .about .container .about-self .right .skill .skillbar:nth-of-type(2) {
  display: flex;
}
.warp .about .container .about-self .right .skill .skillbar:nth-of-type(2) p:nth-of-type(1) {
  width: 25%;
}
.warp .about .container .about-self .right .skill .skillbar:nth-of-type(2) p:nth-of-type(2) {
  width: 55%;
  background-color: rgba(250, 164, 60, 0.8705882353);
}
.warp .about .container .about-self .right .skill .skillbar:nth-of-type(2) p:nth-of-type(3) {
  margin-left: 5%;
  width: 20%;
}
.warp .about .container .about-self .right .skill .skillbar:nth-of-type(3) {
  display: flex;
}
.warp .about .container .about-self .right .skill .skillbar:nth-of-type(3) p:nth-of-type(1) {
  width: 25%;
}
.warp .about .container .about-self .right .skill .skillbar:nth-of-type(3) p:nth-of-type(2) {
  width: 35%;
  background-color: rgba(250, 164, 60, 0.8705882353);
}
.warp .about .container .about-self .right .skill .skillbar:nth-of-type(3) p:nth-of-type(3) {
  margin-left: 5%;
  width: 40%;
}
.warp .about .container .about-self .right .skill .skillbar:nth-of-type(4) {
  display: flex;
}
.warp .about .container .about-self .right .skill .skillbar:nth-of-type(4) p:nth-of-type(1) {
  width: 25%;
}
.warp .about .container .about-self .right .skill .skillbar:nth-of-type(4) p:nth-of-type(2) {
  width: 35%;
  background-color: rgba(250, 164, 60, 0.8705882353);
}
.warp .about .container .about-self .right .skill .skillbar:nth-of-type(4) p:nth-of-type(3) {
  margin-left: 5%;
  width: 40%;
}
.warp .project {
  height: 100vh;
  padding-top: 5rem;
  width: 100%;
}
.warp .project .title_p {
  width: 80vw;
  margin: 0 auto;
  margin-bottom: 3rem;
}
.warp .project .title_p h4 {
  font-size: 3.25rem;
  color: #969696;
  font-weight: 500;
}
.warp .project .swiper_mySwiper {
  width: 100%;
  height: 70vh;
  display: flex;
  margin-bottom: 120px;
}
.warp .project .swiper_mySwiper .swiper-pagination {
  height: 100%;
  text-align: center;
  width: 40%;
  background-color: #337885;
}
.warp .project .swiper_mySwiper .swiper-pagination .link {
  padding-top: 8%;
}
.warp .project .swiper_mySwiper .swiper-pagination .link li {
  padding-bottom: 2rem;
}
.warp .project .swiper_mySwiper .swiper-pagination .link li.active a {
  color: #fff;
}
.warp .project .swiper_mySwiper .swiper-pagination .link li a {
  font-size: 3rem;
  color: #373737;
  font-weight: 500;
}
.warp .project .swiper_mySwiper .swiper-pagination .link li a p {
  font-size: 2rem;
  display: inline-block;
  padding-right: 20px;
}
.warp .project .swiper_mySwiper .swiper-pagination strong {
  font-size: 6rem;
  color: #99D2DD;
  padding-bottom: 5rem;
  width: 400px;
}
.warp .project .swiper_mySwiper .mySwiper {
  overflow: hidden;
  height: 100%;
  width: 60%;
}
.warp .project .swiper_mySwiper .mySwiper .swiper-wrapper .swiper-slide {
  width: 100%;
  background-color: #F7F8FA;
  padding: 5%;
}
.warp .project .swiper_mySwiper .mySwiper .swiper-wrapper .swiper-slide figure img {
  max-width: 100%;
}
.warp .project .swiper_mySwiper .mySwiper .swiper-wrapper .swiper-slide .add {
  margin-left: 6%;
  width: 810px;
  display: flex;
  justify-items: stretch;
}
.warp .project .swiper_mySwiper .mySwiper .swiper-wrapper .swiper-slide .add .site_view {
  background: none;
  border: 0;
  border: 2px solid #373737;
  padding: 1%;
  margin-right: 1%;
  cursor: pointer;
}
.warp .project .swiper_mySwiper .mySwiper .swiper-wrapper .swiper-slide .add .site_view:hover {
  background-color: #373737;
}
.warp .project .swiper_mySwiper .mySwiper .swiper-wrapper .swiper-slide .add .site_view:hover a {
  font-weight: 500;
  color: #F7F8FA;
}
.warp .project .swiper_mySwiper .mySwiper .swiper-wrapper .swiper-slide .add .site_view a {
  font-size: 16px;
  font-weight: 600;
  color: #373737;
}
.warp .project .swiper_mySwiper .mySwiper .swiper-wrapper .swiper-slide .add .show {
  background: none;
  border: 0;
  border: 2px solid #373737;
  padding: 1%;
  margin-right: 3%;
  cursor: pointer;
}
.warp .project .swiper_mySwiper .mySwiper .swiper-wrapper .swiper-slide .add .show:hover {
  background-color: #373737;
}
.warp .project .swiper_mySwiper .mySwiper .swiper-wrapper .swiper-slide .add .show:hover a {
  font-weight: 500;
  color: #F7F8FA;
}
.warp .project .swiper_mySwiper .mySwiper .swiper-wrapper .swiper-slide .add .show a {
  font-size: 16px;
  font-weight: 600;
  color: #373737;
}
.warp .project .swiper_mySwiper .mySwiper .swiper-wrapper .swiper-slide .add ul {
  display: flex;
}
.warp .project .swiper_mySwiper .mySwiper .swiper-wrapper .swiper-slide .add ul li {
  padding-right: 30px;
  line-height: 1.5;
}
.warp .project .swiper_mySwiper .mySwiper .swiper-wrapper .swiper-slide .add ul li .text_01 {
  font-size: 16px;
  font-weight: 600;
  color: #373737;
}
.warp .project .swiper_mySwiper .mySwiper .swiper-wrapper .swiper-slide .add ul li .text_02 {
  font-size: 12px;
  font-weight: 300;
  color: #373737;
}
.warp .project article .scroll {
  opacity: 0;
  transition: 0.5s;
  transform: translateY(20%);
}
.warp .project article .scroll.active {
  opacity: 1;
  transform: translateY(0%);
}
.warp .project .swiper-pagination_right {
  display: none !important;
  position: absolute;
  top: 40%;
  right: 4%;
}
.warp .project .swiper-pagination-bullet {
  display: block;
  width: 15px;
  height: 15px;
  background-color: #ADAEB0;
  padding-bottom: 5%;
  margin-bottom: 80%;
  border-radius: 20px;
}
.warp .project .swiper-pagination-bullet-active {
  background-color: #373737;
  width: 15px;
  height: 40px;
  border-radius: 20px;
}
.warp .contact {
  width: 100%;
  height: 100vh;
  padding-top: 5%;
}
.warp .contact .con {
  width: 80vw;
  margin: 0 auto;
}
.warp .contact .con .title {
  margin-bottom: 3rem;
}
.warp .contact .con .title h4 {
  font-size: 3.25rem;
  color: #969696;
  font-weight: 500;
}
.warp .contact .con .contact-me {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.warp .contact .con .contact-me .contact-inner {
  width: 30%;
  padding: 1rem 1rem 1.5rem 1rem;
  border: 1px solid #ccc;
}
.warp .contact .con .contact-me .contact-inner h3 {
  font-size: 1.25rem;
  color: #f89820;
  padding-bottom: 5%;
}
.warp .contact .con .contact-me .contact-inner figure {
  width: 100%;
}
.warp .contact .con .contact-me .contact-inner figure img {
  max-width: 80%;
}
.warp .contact .con .contact-me .contact-inner p {
  font-size: 1rem;
  font-weight: 400;
  padding-top: 2%;
}
.warp .contact .con .contact-main {
  text-align: center;
  padding-top: 2%;
}
.warp .contact .con .contact-main h2 {
  color: #f89820;
  font-size: 1.5rem;
  font-weight: 700;
  padding-bottom: 2%;
}
.warp .contact .con .contact-main h3 {
  color: #000;
  font-weight: 700;
  font-size: 1.25rem;
}
.warp .contact .con .contact-main p {
  font-size: 1rem;
  color: #000;
  font-weight: 400;
  padding: 1% 0;
}
.warp .contact .con .contact-main strong {
  font-size: 1rem;
  color: #000;
  font-weight: 400;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1000;
  z-index: -1;
  opacity: 0;
}

.window {
  position: relative;
  width: 100%;
  height: 100%;
}

.popup {
  overflow: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.8);
  /* 임시 지정 */
  width: 60%;
  height: 100vh;
  transform: translate(-50%, -40%);
}
.popup .background_process {
  background-color: #337885;
  overflow: auto;
}
.popup .background_process .process {
  width: 68.75%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  padding: 3% 0 3%;
}
.popup .background_process .process h2 {
  color: #99D2DD;
  font-size: 50px;
  font-weight: 700;
  padding-bottom: 20px;
}
.popup .background_process .process .h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 2.5%;
}
.popup .background_process .process .h4 {
  color: #dddddd;
  font-size: 16px;
  font-weight: 200;
  width: 350px;
}
.popup .background_process .process .site_view {
  background: none;
  border: 0;
  border: 2px solid rgba(255, 255, 255, 0.8);
  padding: 3%;
  margin-right: 1%;
  cursor: pointer;
  margin-top: 8%;
}
.popup .background_process .process .site_view:hover {
  background-color: #373737;
  border-color: #373737;
  border-radius: 20px;
}
.popup .background_process .process .site_view:hover a {
  font-weight: 500;
  color: #F7F8FA;
}
.popup .background_process .process .site_view a {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
.popup .background_process .right figure {
  width: 100%;
}
.popup .background_process .right figure img {
  transform: translateY(28%);
  width: 100%;
}
.popup .btn {
  background: none;
  border: 0;
  cursor: pointer;
  font-size: 40px;
  color: #000;
  position: fixed;
  top: 0;
  right: 2%;
}
.popup .btn:hover {
  color: #fff;
}
.popup .btn i {
  font-size: 2rem;
}
.popup figure {
  width: 100%;
}
.popup figure img {
  width: 100%;
}

.show {
  opacity: 1;
  z-index: 1000;
  transition: all 0.5s;
}

.show .popup {
  transform: translate(-50%, -50%);
  transition: all 0.5s;
}/*# sourceMappingURL=index.css.map */